@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.main-section {
  @include desktop {
    display: flex;
    flex-direction: column;
  }

  &__vid-sidebar {
    @include desktop {
      padding: 0rem 0rem 0rem 8rem;
      display: flex;
    }
  }

  &__comment-list {
    hr {
      @include desktop {
        &:last-of-type {
          display: none;
        }
      }
    }
  }
}
