@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.video-list {
    padding: 0 1rem;
    margin-bottom: 3rem;

    @include tablet {
        margin-bottom: 2rem;
        padding: 0 1.5rem;
    }

    @include  desktop {
        margin-bottom: 0;
    }

}