@import '../../styles/partials/globals';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.upload-page {

    border-top: 1px solid $mercury;
    padding: 1rem;

    @include tablet {
        padding: 1.5rem;
    }

    &__title {
        padding-bottom: 1rem;
        color: $brainflix-black;

        @include tablet {
            padding-bottom: 1.5rem;
        }
    }

    &__divider {
        margin: 0 0 1.5rem 0;
        display: none;

        @include tablet {
            display: block;
        }
    }
    &__thumbnail {
        width: 100%;
        margin-bottom: 1rem;

        @include tablet {
            width: 50%;
        }
    }

    

    &__label {
        color: $silver;
    }

    &__vid-title {
        margin-bottom: 1rem;
    }

    &__vid-desc {
        margin-bottom: 1rem;
    }

    &__button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        @include tablet {
            flex-direction: row-reverse;
            gap: 3rem;
        }
    }

    &__publish {
        background-image: url(../../assets/icons/upload.svg);
    }

    &__cancel {
        text-decoration: none;
        color: $brainflix-blue;
        font-weight: 600;
        font-size: 0.625rem;
    }

}