@font-face {
    font-family: "Avenir Next";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),   
         url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;     
}

@font-face {
    font-family: "Avenir Next";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"),
        url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
        url("../../assets/fonts/AvenirNextLTProBold.ttf");
    font-weight: 700;
    font-style: normal;
}