@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.comment {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  @include tablet {
    padding: 1.5rem;
  }

  @include desktop {
    padding: 1.5rem 1.5rem 1.5rem 0;
  }
  
  &__avatar {
    height: 2.25rem;
    width: 2.25rem;
    flex-shrink: 0;
    background-color: $mercury;
    border-radius: 50%;

    @include tablet {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    flex-grow: 1;
  }

  &__author {
    font-weight: 600;
    color: $brainflix-black;
  }

  &__date {
    color: $silver;
  }
}
