@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.video-item {
    display: flex;
    margin: 0.8rem 0;
    gap: 1rem;
    cursor: pointer;

    @include tablet {
        margin: 1.2rem 0;
    }
    &__thumbnail {
        height: 3.8rem;
        border-radius: 4px;

        @include tablet {
            height: 5rem;
        }

    }
    &__title {
        font-weight: 600;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}