@import "../../styles/partials/mixins";

.video {
    
    background: black;

    @include tablet {
        display: flex;
        justify-content: center;
    }
    
    &__currentVideo {
        width: 100%;
        object-fit: cover;

        @include tablet {
            padding: 0 2.5rem;
        }
    }
    
}